<!-- Page Content -->
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <p id="notice" style="color:orange;"><%= notice %></p>
      <div class="col-lg-12 d-flex flex-row">
        <h2 class="page-header" style="margin: 10px 0 15px !important;">User Details</h2>
      </div>
      <% if @user.present? %>
        <table class="table table-responsive table-bordered">
          <thead>
            <tr>
              <th>Id</th>
              <th>User Image</th>
              <th>User Email</th>
              <th>User Name</th>
              <th>Advertising Id</th>
              <th>Security Token</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @user.id %></td>
              <td><img style="width:20px;" src="<%=@user.try(:social_img_url)%>" onerror="this.onerror=null;this.src='https://cdn.pixabay.com/photo/2014/03/24/17/21/wrong-295503_640.png';" /></td>
              <td><%= @user.social_email %></td>
              <td><%= @user.social_name %></td>
              <td><%= @user.advertising_id %></td>
              <td><%= @user.security_token %></td>
            </tr>
          </tbody>
        </table>
        <table class="table table-responsive table-bordered">
          <thead>
            <tr>
              <th>User From</th>
              <th>Device Id</th>
              <th>Device Type</th>
              <th>Device Name</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @user.user_from %></td>
              <td><%= @user.device_id %></td>
              <td><%= @user.device_type %></td>
              <td><%= @user.device_name %></td>
            </tr>
          </tbody>
        </table>
        <table class="table table-responsive table-bordered">
          <thead>
            <tr>
              <th>Version Name</th>
              <th>Version Code</th>
              <th>UTM Source</th>
              <th>UTM Medium</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @user.version_name %></td>
              <td><%= @user.version_code %></td>
              <td><%= @user.utm_source %></td>
              <td><%= @user.utm_medium %></td>
            </tr>
          </tbody>
        </table>
        <table class="table table-responsive table-bordered">
          <thead>
            <tr>
              <th>UTM Campaign</th>
              <th>UTM Content</th>
              <th>UTM Term</th>
              <th>Referrer URL</th>
              <th>Refer Code</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @user.utm_campaign %></td>
              <td><%= @user.utm_content %></td>
              <td><%= @user.utm_term %></td>
              <td><%= @user.referrer_url %></td>
              <td><%= @user.refer_code %></td>
            </tr>
          </tbody>
        </table>
      <% else %>
        <h1 class="not-found">user Not Found</h1>
      <% end %>
    </div>
    <h3>App Opens</h3>
    <% if @appOpens.any? %>
      <table class="table table-responsive table-bordered">
        <thead>
          <tr>
            <th>Id</th>
            <th>Source IP</th>
            <th>Created At</th>
            <th>Updated At</th>
          </tr>
        </thead>
        <tbody>
          <% @appOpens.each do |appOpen| %>
            <tr>
              <td><%= appOpen.id %></td>
              <td><%= appOpen.source_ip %></td>
              <td><%= appOpen.created_at.strftime("%d/%m/%y %I:%M %p") %></td>
              <td><%= appOpen.updated_at.strftime("%d/%m/%y %I:%M %p") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @appOpens %>
    <% else %>
      <h3>No App Opens Found</h3>
    <% end %>
  </div>
  <h3>Saved News</h3>
  <% if @savedNews.any? %>
    <table class="table table-responsive table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>News Id</th>
          <th>Created At</th>
          <th>Updated At</th>
        </tr>
      </thead>
      <tbody>
        <% @savedNews.each do |saved| %>
          <tr>
            <td><%= saved.id %></td>
            <td><%= saved.article.title[0,70]+"..." %></td>
            <td><%= saved.article_id %></td>
            <td><%= saved.created_at.strftime("%d/%m/%y %I:%M %p") %></td>
            <td><%= saved.updated_at.strftime("%d/%m/%y %I:%M %p") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @savedNews %>
  <% else %>
    <h3>No Saved News Found</h3>
  <% end %>
</div>
